.price_range{
	width: 279px;
}
.range{
	position: relative;
	width: 277px;
	height: 6px;
	border: 1px solid #c5c5c5;
	margin-top: 10%;
	cursor: pointer;
}
.range-value{
	display: flex;
	justify-content: space-between;
	font-size: 16px;
}
.id_1{
	width: 18px;
	height: 18px;
	border-radius: 50px;
	background-color: rgb(241, 109, 127);
	display: inline-block;
	position: absolute;
	left: 19%;
	top: -130%;
	z-index: 2;
}
.id_2{
	width: 18px;
	height: 18px;
	border-radius: 50px;
	background-color: rgb(241, 109, 127);
	display: inline-block;
	position: absolute;
	z-index: 2;
	top: -130%;
	left: 30%;
}
#count_1{
	border: 0;
	width: 30px;
}
#count_2{
	border: 0;
	width: 30px;
}
